html{
  box-sizing: border-box;
  font-size: calc(100vw / 85);
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

*{
  margin: 0;
  padding: 0;
}

ul,ol,li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color:inherit;
}