:root {

  --top-level: 999999999; // 9
  --level-2: 99999999; // 8

  --sidebar-width: 16.25rem;
  --sidebar-offset: -16.25rem;

  --sidebar-bg: #f3f4f4;
  --sub-active: #eceded;
  --link-color: #677788;
  --before-item: #a8b1bb;
  --before-item-active: #5a8dee;
  --item-active: #dbe4f3;
  --title-color: #516377;
  --text--color-panel: #081e32;
  --btn--custom-color: #081e32;

  --border-color:#a8b1bb;

  --border-radius-box: 1rem;

  --sub-title-size: 1.25rem;

  --transition: all .15s ease-in-out;

}